:root {
<<<<<<< HEAD
    --bgColor: #000000dd;
    --bgColorDark:  #000000ee;
=======
    --bgColor: #000000e9;
>>>>>>> d9b82e2ad871e1c46ddc1789af8c93faef8e494f
    --hoverColor: linear-gradient(to right, rgb(245, 217, 5), rgb(255, 127, 80));
    --secondary-color: #ca8a04;
}

html{
    scroll-behavior: smooth;
}
body{
    /* min-height: 600vh; */
    box-sizing: border-box;
    background-color: var(--bgColor);
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    /* font-weight:100; */
}

.pages {
    min-height: 100vh;
}

.headerLink{
    position: fixed;
    top: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background-color: rgb(16, 16, 16);
    padding: 0 15% 0 10%;
}

.header ul{
    margin: 0 15%;
}
.header li{
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
}

.header li a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 0.5rem 0;
    border: 2px solid transparent;
    transition: .5s;
}

.header li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

header ul {
    display: flex;
}

header ul .contact{
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }
  
  header span{
    color: rgb(255, 200, 0);
  }

  .headerLink h5 span{
    font-size: 12px;
    color: rgb(255, 200, 0);
    font-family: 'Bad Script', cursive;
}
/* ========== Page 1 ================== */

.page1{
    background: linear-gradient(rgb(0, 0, 0), rgba(37, 37, 37, 0.091)), url('assets/b4.jpg');
    background-size: 100%;
    display: flex;
    align-items: center;
}
.secondpage{
    text-align: left;
    padding: 0 15%;
}
.secondpage h1{
    font-size: 120px;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;
}

.secondpage span{
    color: rgba(11, 11, 11, 0.251);
    -webkit-text-stroke: 0.1px rgba(238, 236, 236, 0.815);
}

.secondpage p{
    font-size: 12px;
    font-family: monospace;
}

.secondpage button{
    font-size: 17px;
    color: white;
    background: var(--hoverColor);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
}

.secondpage button:hover{
    background: var(--secondary-color);
    transition: .5s;
    cursor: pointer;
}

.backward-step{
    position: fixed;
    top: 50%;
    left: 0%;
    padding: 10px 13px;
    margin-left: 10px;
    border: 1px solid rgb(255, 200, 0);
    border-radius: 50%;
}

.backward-step:hover{
    background: var(--hoverColor);
    transition: .5s;
}

.forward-step{
    position: fixed;
    top: 50%;
    right: 0%;
    padding: 10px 13px;
    margin-right: 10px;
    border: 1px solid rgb(255, 200, 0);
    border-radius: 50%;
}
.forward-step:hover{
    background: var(--hoverColor);
    transition: .5s;
}

.firstpage {
    text-align: center;
    display: none;
}

.firstpage h1{
    font-size: 120px;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}
.firstpage span{
    
    color: rgba(11, 11, 11, 0.251);
    -webkit-text-stroke: 0.1px rgba(238, 236, 236, 0.815);
}

.firstpage p{
    font-size: 12px;
    font-family: monospace;
}

.firstpage button{
    font-size: 17px;
    color: white;
    background: var(--hoverColor);
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
}

.firstpage button:hover{
    background: var(--secondary-color);
    transition: .5s;
    cursor: pointer;
}

/* ========== Page 2================== */
.page2{
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    display: inline-block;
    text-align: center;
    align-items: center;
}
.serve{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    grid-gap: 20px;
}
 .serve .cont{
    background-color: rgba(68, 67, 67, 0.288);
    padding: 3rem 1rem 4rem;
    height: 50%;
 }

 .cont:hover{
    background: var(--hoverColor);
    transition: .5s;
 }

.fa-regular, .fa-solid{
    color: rgb(255, 200, 0);
    font-size: 2rem;
}

.page2 h4{
    font-weight: 200;
    color: rgb(255, 200, 0);
    font-family: 'Bad Script', cursive;
    margin-bottom: 0;
}

.page2 h3{
    font-size: 1rem;
    font-weight: bold;
}

.service h1{
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 0;
    border-bottom: 2px rgb(255, 200, 0) solid;
    font-size: 40px;
    color: whitesmoke;
}

/* ========== Page 3 ================== */
.page3{
    background-color: rgb(33, 31, 31);
}

/* ========== Page 4 ================== */
.page4{
    /* background-color: var(--bgColor); */
}

.meetTeam{
    padding: 3.5rem 50px 3.4rem 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.images{
    
    height: 285px;
    display: flex;   
}
.meetTeamTitle{
    display: inline-block;
    border-bottom: 2px yellow solid;
    /* font-weight:900; */
    font-size: x-large;
    color: whitesmoke;
    margin-top: 4rem;
    margin-left: 45%;
    /* background-color: bisque; */
}
.mainLabel{
   
    background-color: rgb(33, 31, 31);
    height: 2.5rem;
    margin-top: -100px;
    margin-left: 2.5%;
    /* display: flex; */
    justify-content: center;
    width: 80%;
    align-items: center; 
    display: inline-block; 
    padding: 15px;
    /* animation: changeColor 6s ease 6s forwards; */
    /* transition: background 1.5s ease; */
    
    /* position: absolute; */    
}
.mainLabel:hover{
   
    background: var(--hoverColor);

    
}
.label{
    font-weight:500;
}

.subtitle{
    font-size: 13px;
    color: rgba(245, 245, 245, 0.715);
    /* font-weight: 600; */
}


/* ======== Page 5 ============ */
.page5{
    background-color: lightpink;
}
/* ============ page 6 ============= */
.page6{
    display: flex;
    padding: 100px;
    gap: 100px;
    /* background-color: aquamarine; */
    min-height: 70vh;
    
    
}
.contact_information{
    width: 500px;
}
.contact_information p{
    font-family: 'Darker Grotesque', sans-serif;

}
.contact_form{
    width: 500px;
}
.contact_via{
    display: flex;
    gap:20px;
    align-items: center;
    /* justify-content: center; */
}
.contact_information img{
    /* size: 30px; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(255, 174, 0);
   
}
.contact_form{
    display: flex;
    flex-direction: column;
    
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.entry{
    height: 38px;
    width: 180px;
    background-color: rgba(48, 48, 48, 0.674);
    border:none;
    color: whitesmoke;
}
.entry:focus{
    /* border: 1px yellow solid; */
    outline: 1.5px rgb(255, 200, 0) solid;
}
.entry1{
    width: 367px;
}
.entry4{
    width: 367px;
}
form textarea{
    width: 369px;
    height: 100px;
    background-color:  rgba(48, 48, 48, 0.674);
    color: whitesmoke;
    border: none;
    

}
form textarea:focus{
    outline: 1.5px rgb(255, 200, 0) solid;
}
form textarea::placeholder{
    color: white;
}
.contact_form button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: var(--hoverColor);
    border: none;
}
input::placeholder{
    color: white;
    padding-left: 5px;
}


/* ============= footer ============ */
footer{
    height: 100vh;
    /* background-color: blueviolet; */
    /* background-color: var(--bgColor); */
    display: flex;
    flex-direction: column;
    /* gap: 200px; */

}
.contact_info h1{
    font-size: 70px;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact_info span{
    
    color: rgba(11, 11, 11, 0.251);
    -webkit-text-stroke: 0.1px rgba(211, 211, 211, 0.815);
     /* text-stroke: 0.5px rgba(255, 255, 255, 0.696);     */
}
.contact_info h4{
    font-weight: 200;
    color: rgb(255, 200, 0);
    font-family: 'Bad Script', cursive;


}
.footer_item{
    /* margin-top: 30px; */
    display: flex;
    gap: 20px;
    
    padding: 0 50px 0 50px;
    
}
.outer{
    background-image: url('assets/serhat-beyazkaya-ayWgRkCk2sQ-unsplash.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 800px;
}
.bottom_sections{
    min-height: 50vh;
}
.columns{
    /* background-color: red; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.links{
    display: flex;
    flex-direction: column;
}
.icon_images img{
    border: 2px rgb(255, 204, 0) solid;
    border-radius: 50%;
    width: 15px;
    padding: 8px;
 
    /* background-color: whitesmoke; */
}
.icon_images{
    display: flex;
    gap: 25px;
    justify-content: space-between;
}
.icons{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 35px;
}
.contact_info{
    /* margin-top: -10px; */
    padding: 0;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.546);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_item{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
}
.contact_box{
    background-color: whitesmoke;
    color: black;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
}
.contact_box:hover{
    background: var(--hoverColor);
}
.menu li a{
    color: whitesmoke;
    text-decoration: none;
    
}
.menu li::marker{
    color: rgb(255, 200, 0);

}
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.phone_number{
    color: rgb(255, 200, 0); ;
}
.email_address{
    border-bottom: 1px  rgb(255, 200, 0) solid;
}
.column1 p{
    font-weight: 50;
    /* letter-spacing: 0.5px; */
    font-family: 'Darker Grotesque', sans-serif;
    
}
.subscribe_form{
    display: flex;
    
}
.input{
    height: 35px;
    border: 1px rgb(255, 166, 0) solid;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 20px;
    width: 260px;
}
.input_button{
    width: 40px;
    height: 35px;
    border: none;
    background-color: whitesmoke;
    color: white;
    border-radius: 50%;
    margin-left: -42px;
    margin-top: 2px;
    
}
.input_button img{
    /* padding: 2px; */
    width: 18px;
    height: 20px;
    
}
.column4 p{
    font-family: 'Darker Grotesque', sans-serif;

}
.column4{
    display: flex;
    flex-direction: column;
    gap: 25px;
}