
html{
    scroll-behavior: smooth;
}
body{
    min-height: 600vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pages {
    min-height: 100vh;
}

.page1{
    background-color:darkblue;
}
.page2{
    background-color: bisque;
}
.page3{
    background-color: lightblue;
}
.page4{
    background-color: lightgreen;
}
.page5{
    background-color: lightpink;
}
.page6{
    background-color: cornflowerblue;
}